.note-content {
  white-space: pre-wrap;
}
.note-content h1 {
  font-size: 2rem;
  font-weight: bold;
}

.note-content h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

.note-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
